# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#vscode
.vscode

# virtual environment
/venv
.venv

#backend
/backend/backend/__pycache__/
/backend/myapi/__pycache__/
/backend/myapi/migrations/__pycache__/

# dependencies
/frontend/node_modules
/frontend/package-lock.json
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc - (double check to see if it ignores these)
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*