.custom-ul .nav-item {
    padding-bottom: 20px; /* Adjust the value as needed */
  }
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatbot-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}